name: Rodar Robo de Futebol

on:
  schedule:
    - cron: '0 0 * * *' # Isso faz rodar todo dia à meia-noite
  workflow_dispatch: # Isso permite que você aperte um botão para rodar agora

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Bibliotecas
        run: pip install -r requirements.txt

      - name: Executar Robô
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
